[submodule "site/coffee-mode"]
	path = site/coffee-mode
	url = http://github.com/defunkt/coffee-mode.git
[submodule "site/auto-complete"]
	path = site/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
